body 
{
  /* background-color: lightgray; */
  font-family: sans-serif;
}
.main_container 
{
  padding: 20px 6%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.left_side_bar
{
  flex-basis: 25%;
  align-self: flex-start;
  border-radius: 8px;
  background-color: white;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.main_content 
{
  flex-basis: 70%;
  background-color: white;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
}
.options 
{
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 10px;
  font-size: 17px;
  font-weight: 200;
}
.showless_buttons 
{
  border: none;
  text-align: center;
  font-size: 15px;
  background-color: white;
  padding: 2px;
}
.showless_buttons:hover 
{
  background-color: lightgray;
  border-radius: 5px;
}
.left-box-text 
{
  font-size: 20px;
}
.right-box-text
{
    font-size: 20px;
}
.see_all_button{
    cursor: pointer;
    margin-left: 10px;
    float: right;
    padding: 5px;
    font-size: 17px;
    border: none;
    text-align: center;
    background: transparent;
}
.top-sections{
    /* bosrder-bottom: 1px solid black; */
    border-radius: 2px;
    height: 30px;
    padding: 10px;
}
.see_all_button:hover{
    background-color: lightgray;
    border-radius: 5px;
}
.imgediv{
    height: 90%;
    width: 10%;
}
.invitation_div{
    display: flex;
    margin-top: 10px;
    /* border-bottom: 1px solid black; */
    padding: 10px;
}
.image_div{
width: 20%;
}
.information_div{
width: 70%;
display: flex;
flex-direction: column;
}
.accept-ignore_button_div{
    width: 30%;
    
}
.accept_button{
    padding: 8px;
    border-radius: 20px;
    font-size: 17px;
    width: 80px;
    height: 40px;
    margin-left: 3px;
    border-color:#0a66c2;
    color:#0a66c2;
}
.ignore_button{
    padding: 8px;
    font-size: 17px;
    width: 80px;
    height: 40px;
    border: none;
    margin-left: 23px;
    background-color: transparent; 
}
.ignore_button:hover{
    background-color: lightgray;
    border-radius: 8px;
}
.people_you_may_know{
    flex-basis: 70%;
  background-color: white;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
  margin-left: 28%;
  margin-top: 10px;
}
.people_cards{
    display: flex;
}
.person1{
    background-color: lightgray;
    border-radius: 20px;
    padding: 10px;
    margin: 2px;
    width: 100%;
    text-align: center;
    height: 100%;
}
.person2{
    background-color: lightgray;
    border-radius: 20px;
    padding: 10px;
    margin: 2px;
    width: 100%;
    text-align: center;
}
.person3{
    background-color: lightgray;
    border-radius: 20px;
    padding: 10px;
    margin: 2px;
    width: 100%;
    text-align: center;
}
.person4{
    background-color: lightgray;
    border-radius: 20px;
    padding: 10px;
    margin: 2px;
    width:100%;
    text-align: center;
}
.follow_request_button{
  padding: 8px;
  width: 80%;
  border-radius: 20px;
  color: #0a66c2;
  border-color: #0a66c2;
  font-size: 17px;
}
.cancell_icon{
  font-size: xx-large;
  display: flex;
  flex-direction: row-reverse;
}
.cancell_icon_button{
  font-size: xx-large;
  background: transparent;
  border: none;
  padding: 10px;
}
.cancell_icon_button:hover{
  border-radius: 20px;
  background-color: white;
}