.profile-summary {
  /* border: 1px solid lightgray; */
  margin: 30px;
  border-radius: 10px;
  padding: 10px;
  width: 80%;
}
.profile-summary h1 {
  font-size: 18px;
  line-height: 50px;
}
.profile-summary p {
  color: gray;
  font-size: 16px;
  line-height: 20px;
}
